[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio = "*"
grpcio-tools = "*"
protobuf = "*"

sqlalchemy = {extras = ["asyncio"], version = "*"}
asyncpg = "*"
pydantic-settings = "*"
pyjwt = "*"
confluent-kafka = "*"
alembic = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
grpcio-tools = "*"

[requires]
python_version = "3.11"
