[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio = "*"
grpcio-tools = "*"
protobuf = "*"

pyjwt = "*"
sqlalchemy = "*"
asyncpg = "*"
aiokafka = "*"
pydantic = "*"
pydantic-settings = "*"
alembic="*"  

[dev-packages]

[requires]
python_version = "3.11"
