[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio = "*"
pyjwt = "*"
sqlalchemy = "*"
asyncpg = "*"
aiokafka = "*"
pydantic = "*"
pydantic-settings = "*"
alembic="*"  
protobuf = "*"
grpcio-tools = "*"

[dev-packages]

[requires]
python_version = "3.11"
