[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio = "*"
pyjwt = "*"
sqlalchemy = "*"
asyncpg = "*"
aiokafka = "*"
pydantic = "*"
pydantic-settings = "*"
alembic="*"  

[dev-packages]
grpcio-tools = "*"

[requires]
python_version = "3.11"
