[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio = "*"
protobuf = "*"
grpcio-tools = "*"

pyjwt = "*"
asyncpg = "*"
aiokafka = "*"
pydantic = "*"
pydantic-settings = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
alembic = "*"

[dev-packages]
grpcio-tools = "*"

[requires]
python_version = "3.11"
